DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver
POSTGRES_DB=events_platform
POSTGRES_USER=events
POSTGRES_PASSWORD=events
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
